{% extends "base.html" %}
{% load static %}

{% block page_content %}
<link rel="stylesheet" href="{% static 'projects/css/index.css' %}">

<h1 class="text-3xl font-bold mb-6">Proyectos</h1>

<div class="portfolio-carousel">
    
    <ul class='slider'>
        {% for project in projects %}
            <li class='item' style="background-image: url('{% if project.image %}{{ project.image.url }}{% else %}https://via.placeholder.com/400x600{% endif %}')">
                
                <div class='content'>
                    <h2 class='title'>{{ project.title }}</h2>
                    <p class='description'>
                        {{ project.description|truncatewords:20 }}
                    </p>
                    <a href="{% url 'detail' project.pk %}">
                        <button>Leer Más</button>
                    </a>
                </div>
                
            </li>
        {% endfor %}
    </ul>

    <nav class='nav'>
        <div class='btn prev'>
            <ion-icon name="arrow-back-outline"></ion-icon>
        </div>
        <div class='btn next'>
            <ion-icon name="arrow-forward-outline"></ion-icon>
        </div>
    </nav>

</div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<script>
    const slider = document.querySelector('.slider');
    
    function activate(e) {
      const items = document.querySelectorAll('.item');
      if (e.target.closest('.next')) {
        slider.append(items[0]);
      }
      if (e.target.closest('.prev')) {
        slider.prepend(items[items.length - 1]);
      }
    }
    
    // Asignamos el evento al documento o contenedor
    document.querySelector('.nav').addEventListener('click', activate, false);
</script>

{% endblock %}